.contact {
  background: $nagivation-mobile-bg-color;

  .contact__container {
    position: relative;
    width: 100%;
    min-height: 80vh;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .contact__container__form {
      width: 100%;
      max-width: 50rem;
      background-color: #fff;
      border-radius: 0.5rem;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .contact__container__form--info {
        background-color: $secondary-color;
      }

      .contact__container__form--form {
        background: $first-color;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 2rem;
          height: 2rem;
          background-color: $first-color;
          transform: rotate(45deg);
          top: 5rem;
          left: -1rem;
        }

        form {
          padding: 2.3rem 2.2rem;
          // z-index: 10;
          overflow: hidden;
          position: relative;

          .contact__form--title {
            color: $nagivation-bg-color;
            font-weight: 500;
            font-size: $font-size-subtitle;
            font-family: $font-title;
            letter-spacing: 0.1rem;
            line-height: 1;
            margin-bottom: 0.7rem;
          }

          .contact__form--input-container {
            position: relative;
            margin: 1rem 0;

            label {
              position: absolute;
              top: 50%;
              left: 15px;
              transform: translateY(-50%);
              padding: 0 0.4rem;
              color: $nagivation-bg-color;
              font-weight: 500;
              pointer-events: none;
              transition: 0.5s;
            }

            input,
            textarea {
              width: 100%;
              outline: none;
              border: 0.2rem solid $nagivation-bg-color;
              background: none;
              padding: 0.6rem 1.2rem;
              color: $nagivation-bg-color;
              font-weight: 500;
              font-size: $font-size-standart;
              letter-spacing: 0.1rem;
              border-radius: 0.5rem;
              transition: 0.3s;
            }

            textarea.input {
              min-height: 10rem;
              resize: none;
              overflow-y: auto;
            }

            label {
              top: 1rem;
              transform: translateY(0);
            }

            span {
              position: absolute;
              top: 0;
              left: 1rem;
              transform: translateY(-50%);
              font-size: $font-size-standart;
              padding: 0 0.4rem;
              color: transparent;
              pointer-events: none;
              z-index: 500;
              //    background: red;

              // Hide border for focus
              &::before,
              &::after {
                content: "";
                position: absolute;
                width: 10%;
                opacity: 0;
                transition: 0.3s;
                height: 8px;
                background-color: #ff8f00;
                top: 50%;
                transform: translateY(-50%);
              }

              &::before {
                left: 50%;
              }

              &::after {
                right: 50%;
              }
            }
          }

          .btn {
            padding: 0.6rem 1.3rem;
            background-color: #24252a;
            border: 2px solid #24252a;
            font-size: $font-size-standart;
            color: #ff8f00;
            line-height: 1;
            border-radius: 2rem;
            outline: none;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
              background-color: transparent;
              color: #24252a;
            }
          }

          .focus {
            label {
              top: 0;
              transform: translateY(-50%);
              left: 25px;
              font-size: 0.8rem;
              z-index: 1000;
            }

            span::before,
            span::after {
              width: 50%;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .contact__container__form--info {
    color: $nagivation-link-color;
    padding: 2.3rem 2.2rem;
    position: relative;
    font-size: $font-size-standart;

    .contact__info--title {
      color: $nagivation-link-color-hover;
      font-size: $font-size-subtitle;
      font-family: $font-title;
      letter-spacing: 0.2rem;
    }

    .contact__info--text {
      margin: 1.5rem 0 2rem 0;
    }

    .icon {
      width: 2rem;
      margin-right: 1rem;
      color: $nagivation-link-color-hover;
    }

    .contact__info__items--item {
      display: flex;
      margin: 0.7rem 0;
      align-items: center;
    }
  }

  .social-media {
    padding: 2rem 0 0 0;

    .social-icons {
      display: flex;
      margin-top: 0.5rem;

      a {
        width: 35px;
        height: 35px;
        border-radius: 0.5rem;
        background: orange;
        text-align: center;
        line-height: 35px;
        margin-right: 1rem;
        transition: 0.3s;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

@media (max-width: $medium-screen) {
  .contact .contact__container .contact__container__form {
    grid-template-columns: 1fr;
  }

  .contact .contact__container .contact__container__form .contact__container__form--form::before {
    top: -13px;
    left: initial;
    right: 70px;
  }
}
