.about {
    margin: 1rem 5rem 0 5rem;

    .about__content {
        padding: 2rem;
        width: 100%;
        display: grid;
    }


    .about__content__desc {

        .about__content__desc--title {
            font-family: $font-title2;
            font-size: $font-size-title;
            letter-spacing: .2rem;
            margin-bottom: 2rem;
        }


        .about__content__desc--subtitle {
            font-size: $font-size-subtitle;
        }

        .about__content__desc--text {
            font-size: $font-size-standart;
            margin-right: 1rem;

        }
    }

    .about__gallery {
        margin-bottom: 2rem;
        margin: 2rem;

        .about__gallery--title {
            font-family: $font-title2;
            font-size: $font-size-subtitle;
            margin-bottom: 2rem;
        }

        .about__gallery--text {
            font-size: $font-size-standart;
            margin-left: .5rem;
            margin-bottom: 2rem;
        }
    }
}

@media (max-width: $medium-screen) {
    .about {
        margin: 0;

        .about__content {
            grid-template-columns: 1fr;

            .about__content--figure {

                img {
                    display: none;
                }
            }
        }


    }
}

// SLIDER scss

.card-wrapper {
    position: relative;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    max-width: 30rem;


    &:active,
    &:hover,
    &:focus {
        outline: none;
        border: none;
    }


    .card {
        width: 100%;
        height: 20rem;
        border-radius: .5rem;
        overflow: hidden;
        cursor: pointer;
        position: relative;

        .card-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 200;
            background-color: black;
            transition: 0.3s;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                &:hover {
                    opacity: 4;
                    transition: .5s;
                }
            }

        }
    }
}

@media(max-width: $medium-screen) {
    .about {
        margin: 0;

        .about--title {
            font-size: $font-size-mobile-title;
        }

        .about__content__desc {

            .about__content__desc--title {
                font-size: $font-size-mobile-title;
            }


            .about__content__desc--subtitle {
                font-size: $font-size-mobile-subtitle;
            }

            .about__content__desc--text {
                font-size: $font-size-mobile-standart;
                margin-right: 0;

            }
        }

        .about__gallery {

            .about__gallery--title {
                font-size: $font-size-mobile-subtitle;
            }

            .about__gallery--text {
                font-size: $font-size-mobile-standart;
            }
        }
    }

    .card-wrapper {

        .card {
            height: 10rem;
        }
    }
}