.home{
}

.transition{
    display : flex;
    justify-content: center;
    flex-direction: column;
}

.barre1{
    background : $first-color;
    width : 50%;
    height : .3rem;
    margin: 0 auto;
}