.part{
    background-color: $nagivation-bg-color;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 1rem 3%;
}
h1, h2, li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: $nagivation-link-color;
    text-decoration: none;
}
h1{
    font-family: 'Bangers', cursive;
    color: $hero-title-color;
    text-transform: uppercase;
    font-size: 4rem;
    font-family: 250px;
}
.colos{
    background-color:$presentation-bg-color ;
    color: black;
    text-align: center;
}