.hero{
    text-align: center;
}

.bg{
     background-color: #000000;
     background-image: 
                       linear-gradient(rgba(51, 5, 82, 0.6),
                         rgba(17, 1, 54, 0.6)),
                         url(https://www.topendsports.com/sport/unusual/images/mud-running.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding: 3rem 2rem 3rem 2rem;
    text-align: center;

//     background: rgb(2,0,36);
 background: linear-gradient(4deg, $first-gradient-color 0%, $secondary-gradient-color 35%, $third-gradient-color 100%);
}

.hero__title{
    font-family: $text-font-stack;
    color : $text-color;
    justify-content: center;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 500;
}

.hero__btns{
    display : flex;
    justify-content: center;
    font-family: $text-font-stack;

    p {
        background: $first-color;
        padding : 1rem;
        padding-right: 3rem;
        padding-left: 3rem;
        color : $text-color;
        font-weight: 600;
        font-size: .9rem;
        box-shadow: $box-shadow;
    }

    .color2{
        background-color: $secondary-color;
    }
}