.story{
    .titre1{
        display: flex;
        justify-content: space-around;
    }
    .histor{
        padding: 3rem;
    }
    .photo1{
        padding: 1rem;
        margin-top: 2rem;
    }
    .photo{
        display: flex;
        margin: 1rem;
    }
    .image{
        width: 100%;
        height: 90%;
        object-fit: cover;
        border-radius: 20px;
    }
    span{
        color: black;
    }
    .galerie{
        width:20%;
        height: auto;
        padding:10px;
        border-radius:40px;
        background-color: $presentation-bg-color;
        margin: 1rem;
        overflow:hidden;
        -webkit-transition:all 0.2s ease-in;
        -moz-transition:all 0.2s ease-in;
        -ms-transition:all 0.2s ease-in;
        -o-transition:all 0.2s ease-in;
        transition:all 0.2s ease-in;
    }
    .galerie :hover{
        background-color: $presentation-bg-color; 
        width: 120%;
        height: auto;
    }
}





