$playercard-front-stat-box-width: 100%;

$playercard-color-front-stat-background: rgba(75, 79, 91, 0.796);
$playercard-color-front-stat-border: black;
$playercard-color-font-player-stat-value: rgb(202, 202, 202);

.card__front-stats {
  // all li
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    width: $playercard-front-stat-box-width;
    height: 110%;

    background-color: $playercard-color-front-stat-background;
    border: 1px solid $playercard-color-front-stat-border;
    border-radius: 0.8rem;

    .card__front-action {
      font-size: 1rem;
      font-family: $font-text;
    }

    //last li for goal
    &:nth-last-of-type(1) {
      justify-self: center;
      grid-column: 1 / 3;
      width: calc($playercard-front-stat-box-width * 0.8);
    }
  }

  .card__front-stats-num {
    font-size: 1.1rem;
    color: $playercard-color-font-player-stat-value;
  }
}
