.navbar {
    font-size: $font-size-standart;
    color: black;
}

/***** Navigation ******/

.navigation{
    // position: fixed;
    background-color: $nagivation-bg-color;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 3%;

    h2, li, a, button{
        font-family: $font-text;
        font-weight: 500;
        font-size: $font-size-standart;
        color: $nagivation-link-color;
        text-decoration: none;
    }

    .logo{
        cursor: pointer;
        margin-right: auto;
    }

    .nav__links li{
        display: inline-block;
        padding: 0 1rem;

        a{
            transition: all 0.3s ease 0s;

            &:hover{
                color: $nagivation-link-color-hover;
            }
        }
    }

    button{
        margin-left: .5rem;
        padding: .5rem 1rem;
        background-color: $nagivation-bg-btn-color;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.3s ease 0s;

        &:hover{
            background-color: $nagivation-bg-btn-color-hover;
        }
    }
}