.navigation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 1rem;
    border: 10px double rgb(2, 2, 41);
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgb(255, 140, 0) ;
    background-color:  rgb(2, 2, 41);
}
.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    font-size: 20px; 
}
li{
    margin-left: 80px;
    color:aliceblue;
    .la{
        padding-left: 50px;
    }
}
h2{
    padding-left: 50px;
    color: rgb(255, 140, 0);
    
}
.rect{
    margin: 7px;
    height: 10px;
    width: auto;
    border: 3px solid orange;
    background-color: orange;
    border-radius: 2px;
}