.partnership{
    display: table;
    margin: 0 auto;
    text-align: center;
    padding-top: 3%;
    text-transform: uppercase;
    font-size: 1rem;

    .row{
        margin-top: 3%;
        display: flex;
        justify-content: space-between;
    }

    .partner--col{
        flex-basis: 31%;
        background: $partnership-bg-color;
        border-radius: 1rem;
        margin-bottom: 5%;
        padding: 5rem 3rem;
        margin: 1%;
        transition: 0.5s;

        &:hover{
            box-shadow: 0 0 1.5rem 0 $partnership-box-shadow-color;
        }

        .icon{
            font-size: 4rem;
        }

        p{
            padding-top: 10%;
        }
    }
}

@media(max-width: $medium-screen) {
    .row{
        flex-direction: column;
    }
}