.partnership{
    display: table;
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 10%;
    text-transform: uppercase;
    font-size: $font-size-standart;

    h2{
        font-size: $font-size-subtitle;
        font-family: $font-title;
        letter-spacing: .3rem;
    }

    .row{
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
    }

    .partner--col{
        flex-basis: 31%;
        background: $partnership-bg-color;
        border-radius: 1rem;
        margin-bottom: 5%;
        padding: 3rem;
        margin: 1%;
        transition: 0.5s;

        &:hover{
            box-shadow: 0 0 1.5rem 0 $partnership-box-shadow-color;
        }

        .icon{
            font-size: 2rem;
        }

        p{
            padding-top: 10%;
            font-size: $font-size-standart;
        }
    }
}

@media(max-width: $medium-screen) {
    .partnership{

        h2{
            font-size: $font-size-mobile-subtitle;
        }

        .row{
            flex-direction: column;
        }

        .partner--col{
            .icon{
                font-size: 3rem;
            }
    
            p{
                font-size: $font-size-mobile-standart;
            }
        }

    }
}