.partnership{
    font-size: 1rem;
    text-align: justify;
    padding: 0 5rem 0 5rem;
    color : $text-color;
    background: $first-color;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    display: table;
    margin: 0 auto;

    .content{
        display : flex;
        margin: 1rem;
    }
}