$font-size: 0.8rem;
$font-size-stats: 1rem;

$card-aspect-ratio: 1 / 1.4;
$card-text-translateZ: 10px;

$card-container-width: 18rem;
$card-front-stat-width: 100%;

$card-sticker-size: 3rem;
$card-sticker-pos: -5%;
$card-sticker-color: rgb(23, 35, 142);

$card-back-margin: 3.2rem;

$card-back-line-height: 5rem;

$card-back-line-bottom-pos: -17px;
$card-back-line-right-pos: 1.8rem;

// -------------------------------------------
.card-container {
  position: relative;
  width: $card-container-width;
  aspect-ratio: $card-aspect-ratio;

  transform-style: preserve-3d;
  perspective: 1000px;

  // ----------------  ----------------  ----------------  ----------------  ----------------  ----------------
  &:hover {
    .card__front {
      transform: rotateY(-180deg) rotateZ(15deg);
    }
    .card__back {
      transform: rotateY(0deg);
    }
  }
}

// -------------------------------------------
.card__front {
  position: absolute;
  width: 100%;
  height: 100%;

  // ----------------  ----------------  ----------------  ----------------  ----------------  ----------------
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: all 0.5s;

  transform-style: preserve-3d;

  box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.519);

  display: grid;
  //________
  > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  //________
  figure {
    img {
      aspect-ratio: $card-aspect-ratio;
    }
  }
  //________
  .card__front-text {
    position: absolute;
    bottom: 5%;
    left: 0;
    transform: translateZ($card-text-translateZ);
    backface-visibility: hidden;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $card-sticker-color;
    width: $card-sticker-size;
    height: $card-sticker-size;
    top: $card-sticker-pos;
    right: $card-sticker-pos;
  }
}

// -------------------------------------------
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;

  box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.519);

  // ----------------  ----------------  ----------------  ----------------  ----------------  ----------------
  backface-visibility: hidden;
  // transform: rotateY(0deg);
  transform: rotateY(180deg) rotateZ(-15deg);
  transition: all 0.5s;

  transform-style: preserve-3d;

  //________
  .card__back-infolist {
    position: absolute;
    transform: translateZ($card-text-translateZ);
    backface-visibility: hidden;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: $card-sticker-color;
    width: $card-sticker-size;
    height: $card-sticker-size;
    top: $card-sticker-pos;
    left: $card-sticker-pos;
  }
}

// ============  ============  ============  ============  ============  ============  ============
// ============  ============  ============  ============  ============  ============  ============

.card-container {
  margin: 10rem;
  font-size: $font-size;
  color: white;
}

//____ ____ ____ ____ ____ ____ ____
.card__front-text {
  display: grid;
  justify-content: center;
  position: relative;
  width: 100%;

  h2 {
    font-size: calc($font-size * 2);
    text-transform: uppercase;
    transform: rotateZ(-90deg);
    position: absolute;
    text-shadow: 3px 3px 10px rgb(25, 25, 25);

    top: -90%;
    left: -10%;
  }

  .card__front-stats {
    @include grid-column(repeat(2, 8rem), 0.5rem, 0.5rem);
    font-size: $font-size-stats;
    font-weight: bold;
  }
}



//____ ____ ____ ____ ____ ____ ____
.card__back {
  background-color: rgb(44, 50, 66);

  .card__back-name {
    margin-inline-start: $card-back-margin;
    margin-block-start: 1.5rem;
    h3 {
      font-size: calc($font-size * 2.3);
    }
    h2 {
      font-size: calc($font-size * 3);
      position:relative;

      &:after {
        position: absolute;
        content:"";
        width: 20%;
        height: .2rem;
        background-color: white;
        bottom: 0;
        left: -20px;
      }
      &:before {
        position: absolute;
        content:"";
        width: .2rem;
        height: $card-back-line-height;
        background-color: white;
        bottom: -5rem;
        left: -20px;
      }
    }
  }

  .card__back-infolist {
    margin-block-start: calc($card-back-margin / 3);

    .card__back-infolist-flex {
      max-width: 80%;
      margin-inline: auto;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      // all li
      li {
        margin-inline-start: 1.2rem;
      }

      li:nth-of-type(1) {
        font-size: calc($font-size * 1.6);
      }

      li:nth-of-type(2) {
        font-size: calc($font-size * 1.3);
      }
      li:nth-of-type(3) {
        font-size: calc($font-size * 1.3);
        margin-block-end: 0.5rem;
        display: flex;
        gap: 0.3rem;
      }

      li:nth-of-type(4) {
        font-size: calc($font-size * 1.2);
        margin-inline-end: 1.2rem;

        &:after {
          position: absolute;
          content:"";
          width: 20%;
          height: .2rem;
          background-color: white;
          bottom: $card-back-line-bottom-pos ;
          right: $card-back-line-right-pos;
        }
        &:before {
          position: absolute;
          content:"";
          width: .2rem;
          height: $card-back-line-height;
          background-color: white;
          bottom: -1rem;
          right: $card-back-line-right-pos;
        }
      }
    }
  }
}
