.stat-container {
    margin: 0 auto;
    padding: 1rem 5rem 0 5rem;
}

.stats {
    text-transform: uppercase;
    display: table;
    margin: 0 auto;

    .container {
        border: .3rem solid $first-color;
        display: flex;
        border-bottom: none;
        position: relative;
         z-index:  -1;

        ::before {
            content: "";
            position: absolute;
            background-color: $first-color;
            width: 5%;
            height: 3%;
            // top: 50%;
            top: 98%;
            left: 98%;
            z-index: -1;
          }        


        ::after {
            content: "";
            position: absolute;
            background-color: $first-color;
            width: 5%;
            height: 3%;
            // top: 50%;
            top: 98%;
            right: 98%;
            z-index: -1;
          }
    }


    .label {
        position: absolute;
        top: -.7rem;
        right: 50%;
        height: 20%;
        width: 15rem;
        font-size: .9rem;
        text-align: center;
        color: $text-label-color;
        background-color: $bg-label;
    }

    .bonus {
        text-align: center;
        margin: 1rem;

        span {
            color: $text-number-color;
            margin: 1rem;
            font-size: 4rem;
            font-weight: 600;
        }

        p {
            color: $text-stat-color;
            margin-top: -1rem;
        }
    }
}
