/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

body {
  font-size: 10px;
}

// IMPORT fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Flavors&family=Fredoka+One&family=Joti+One&family=Piedra&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

