// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// font
$font-text: "Montserrat", sans-serif;
$font-title: "Bangers", cursive;
$font-title2: "Rampart One", cursive;

/// Breakpoints
$medium-screen: 768px;

/// Font-size
$font-size-title: 6rem;
$font-size-mobile-title: 3rem;
$font-size-subtitle: 2rem;
$font-size-mobile-subtitle: 1rem;
$font-size-standart: 1rem;
$font-size-mobile-standart: 0.8rem;

/// Navigation
$nagivation-bg-color: #24252a;
$nagivation-mobile-bg-color: #1c1d20;
$nagivation-link-color: #edf0f1;
$nagivation-link-color-hover: #ff8f00;
$nagivation-bg-btn-color: #ff8f00;
$nagivation-bg-btn-color-hover: rgb(194, 126, 2);

/// Main colors
$first-color: #ff8f00;
$secondary-color: #24252a;

/// Hero
$hero-title-color: #ffffff;
$hero-btn-text-color: #ffffff;

/// Presentation
$presentation-bg-color: #ff8f00;
$presentation-text-color: #24252a;
$presentation-span-text-color: #ffffff;

/// Stat
$stat-bg-color: rgb(0, 0, 0);
$stat-label-bg-color: $stat-bg-color;
$stat-text-label-color: $first-color;
$stat-text-number-color: $first-color;
$stat-text-color: #ff910076;

/// Partnership
$partnership-bg-color: #f3f3f3;
$partnership-box-shadow-color: rgba(0, 0, 0, 0.2);

// Member Card
$playercard-font-size: 0.8rem;
$playercard-font-size-stats: 1rem;

$playercard-border-radius: 0.4rem;

$playercard-color-font: white;
$playercard-color-back-background: rgb(44, 50, 66);

$playercard-container-width: 18rem;
$playercard-aspect-ratio: 1 / 1.4;
$playercard-text-translateZ: 10px;
$playercard-transform-time: 0.5s;
$playercard-general-box-shadow: 20px 20px 10px rgba(15, 9, 9, 0.366);

$playercard-back-margin-general: 4rem;
$playercard-back-line-height: 5rem;
$playercard-back-line-bottom-pos: -17px;
$playercard-back-line-right-pos: 1.8rem;
$playercard-back-line-width: 0.1rem;

$playercard-sticker-pos: 0.2%;
$playercard-sticker-size: 5rem;
