// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// font
$font-text: "Montserrat", sans-serif;
$font-title: 'Bangers', cursive;
$font-title2: "Rampart One", cursive;

/// Breakpoints
$medium-screen: 768px;

/// Font-size
$font-size-title: 6rem;
$font-size-mobile-title: 3rem;
$font-size-subtitle: 2rem;
$font-size-mobile-subtitle: 1rem;
$font-size-standart: 1rem;
$font-size-mobile-standart: .8rem;

/// Navigation
$nagivation-bg-color: #24252A;
$nagivation-mobile-bg-color: #1c1d20;
$nagivation-link-color: #edf0f1;
$nagivation-link-color-hover: #FF8F00;
$nagivation-bg-btn-color: #FF8F00;
$nagivation-bg-btn-color-hover: rgb(194, 126, 2);

/// Main colors
$first-color : #FF8F00;
$secondary-color : #24252A;

/// Hero
$hero-title-color : #ffffff;
$hero-btn-text-color : #ffffff;

/// Presentation
$presentation-bg-color: #FF8F00;
$presentation-text-color: #24252A;
$presentation-span-text-color: #ffffff;

/// Stat
$stat-bg-color: rgb(0, 0, 0);
$stat-label-bg-color : $stat-bg-color;
$stat-text-label-color : $first-color;
$stat-text-number-color : $first-color;
$stat-text-color : #ff910076;


/// Partnership
$partnership-bg-color: #f3f3f3;
$partnership-box-shadow-color: rgba(0, 0, 0, 0.2);




